.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
}
.pp{
    width: 300px;
}
.text{
    width: 600px;
    margin: auto;
}

.footer .linkedin-image{
    width: 50px;
}
.line{
    width: 75%;
    color: black;
}
.education{
    display: block;
}


