.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
}
.pp{
    width: 300px;
}
.text{
    width: 600px;
    margin: auto;
}

.footer{
  justify-content: space-evenly;
}
.footer .linkedin-image, .x-image, .mail-image{
    width: 40px;
}

.line{
    width: 75%;
    color: black;
}
.education{
    display: block;
}

.projects{
  display: block;
}

.footer{
  padding-top: 0;
  margin-top: 0;
}
/* Default styles for larger screens */
h1 {
    font-size: 36px; /* Large font size for desktop */
    text-align: center;
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
  }

.header{
  justify-content: space-between;
}

/* for phone */

@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    h1 {
        font-size: 24px; /* Smaller font size for phones */
      }
  
    .container {
      display: flex;         /* Use flexbox for layout */
      flex-direction: column; /* Stack elements vertically */
      align-items: center;   /* Center-align children horizontally */
      text-align: center;
    }
  
    .container .text{
        padding-top: 10px;
    }
    .image .pp {
      margin-top: 0;
      padding-top: 0;
      display: block;        /* Ensure it's a block-level element */
      margin: auto;          /* Center horizontally */
      max-width: 50%;       /* Optional: Ensure it doesn't overflow */
      height: auto;          /* Maintain aspect ratio */
    }
  
    .toggle-container {
      position: relative;    /* Move toggle to a new position */
      margin: 20px auto;     /* Center the toggle */
    }
  }
  



/* for tab */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .container .text{
        padding-left: 20px;
        margin-left: 20px;
    }
    h1 {
        font-size: 30px; /* Slightly smaller font size for tablets */
      }
  }